PaySettCompany.WebApp/Connected Services/PurchaseService/Purchase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Purchase" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56806/Purchase.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56806/Purchase.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56806/Purchase.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PaySettCompany.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchase_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IPurchase_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchase_InsertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="IPurchase_InsertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchase">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/GetAllProducts" message="tns:IPurchase_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/GetAllProductsResponse" message="tns:IPurchase_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchase/InsertProduct" message="tns:IPurchase_InsertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchase/InsertProductResponse" message="tns:IPurchase_InsertProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchase" type="tns:IPurchase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IPurchase/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/IPurchase/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Purchase">
    <wsdl:port name="BasicHttpBinding_IPurchase" binding="tns:BasicHttpBinding_IPurchase">
      <soap:address location="http://localhost:56806/Purchase.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>